@font-face {
    font-family: Norse;
    src: url(./assets/Norse-Bold.otf) format("opentype");
}

:root {
    --credit-color: #ffffffcc;
    --logo-bottom-ht: 65vh;
    --center-sep: 40px;
}

body {
    display: flex;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
    font-size: calc(18px + min(.9vw, .9vh));
}

.image-container > img {
    height: 100vh;
    width: max(200px, 35vw);
}

.image-container {
    position:relative;
}

.image-container > div {
    font-family: Norse;
}

.image-container div {
    font-size: 6vw;
    display: flex;
    width: 100%;
    background-color: #00000066;
    position: absolute;
    bottom: var(--logo-bottom-ht);
    color: white;
    align-items: center;
    justify-content: center;

}

.credits {
    display: flex;
    position: absolute;
    bottom: 3vh;
    width: 100%;
    color: var(--credit-color);
    justify-content: center;
    font-size: 16px;
}

.credits a {
    color: var(--credit-color);
}

body {
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container div:first-child {
    background-color: #f5f5f5;
    height: calc(100vh - var(--logo-bottom-ht));
    padding-left: var(--center-sep);
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-container > div p:first-child {
    margin-bottom: 5px;
}

.form-container > div p:last-child {
    margin-bottom: 20px;
}