@font-face {
    font-family: Norse;
    src: url(./assets/Norse-Bold.otf) format("opentype");
}

:root {
    --credit-color: #ffffffcc;
}

body {
    display: flex;
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.image-container > img {
    height: 100vh;
    width: max(200px, 35vw);
}

.image-container {
    position:relative;
}

.image-container > div {
    font-family: Norse;
}

.image-container div {
    font-size: 6vw;
    display: flex;
    width: 100%;
    background-color: #00000066;
    position: absolute;
    top: 15vh;
    color: white;
    align-items: center;
    justify-content: center;

}

.credits {
    display: flex;
    position: absolute;
    bottom: 3vh;
    width: 100%;
    color: var(--credit-color);
    justify-content: center;
}

.credits a {
    color: var(--credit-color);
}

body {
    margin: 0;
    padding: 0;
}
